Terzo anno/Programmazione distribuita/Prova 4-2-2020/ClientWeb/xml-resources/web-service-references/EJBorganiBeni/wsdl/localhost_8080/EJBorganiBeniService/EJBorganiBeni.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://StandardPackage/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://StandardPackage/" name="EJBorganiBeniService">
<types>
<xsd:schema>
<xsd:import namespace="http://StandardPackage/" schemaLocation="http://localhost:8080/EJBorganiBeniService/EJBorganiBeni?xsd=1"/>
</xsd:schema>
</types>
<message name="selectAll">
<part name="parameters" element="tns:selectAll"/>
</message>
<message name="selectAllResponse">
<part name="parameters" element="tns:selectAllResponse"/>
</message>
<message name="findById">
<part name="parameters" element="tns:findById"/>
</message>
<message name="findByIdResponse">
<part name="parameters" element="tns:findByIdResponse"/>
</message>
<message name="selectTrasparenzaMax">
<part name="parameters" element="tns:selectTrasparenzaMax"/>
</message>
<message name="selectTrasparenzaMaxResponse">
<part name="parameters" element="tns:selectTrasparenzaMaxResponse"/>
</message>
<message name="aggiornaOranizzazione">
<part name="parameters" element="tns:aggiornaOranizzazione"/>
</message>
<message name="aggiornaOranizzazioneResponse">
<part name="parameters" element="tns:aggiornaOranizzazioneResponse"/>
</message>
<message name="findByNumProg">
<part name="parameters" element="tns:findByNumProg"/>
</message>
<message name="findByNumProgResponse">
<part name="parameters" element="tns:findByNumProgResponse"/>
</message>
<message name="findByBilancio">
<part name="parameters" element="tns:findByBilancio"/>
</message>
<message name="findByBilancioResponse">
<part name="parameters" element="tns:findByBilancioResponse"/>
</message>
<message name="aggiungiOranizzazione">
<part name="parameters" element="tns:aggiungiOranizzazione"/>
</message>
<message name="aggiungiOranizzazioneResponse">
<part name="parameters" element="tns:aggiungiOranizzazioneResponse"/>
</message>
<message name="rimuoviOranizzazione">
<part name="parameters" element="tns:rimuoviOranizzazione"/>
</message>
<message name="rimuoviOranizzazioneResponse">
<part name="parameters" element="tns:rimuoviOranizzazioneResponse"/>
</message>
<portType name="EJBorganiBeni">
<operation name="selectAll">
<input wsam:Action="http://StandardPackage/EJBorganiBeni/selectAllRequest" message="tns:selectAll"/>
<output wsam:Action="http://StandardPackage/EJBorganiBeni/selectAllResponse" message="tns:selectAllResponse"/>
</operation>
<operation name="findById">
<input wsam:Action="http://StandardPackage/EJBorganiBeni/findByIdRequest" message="tns:findById"/>
<output wsam:Action="http://StandardPackage/EJBorganiBeni/findByIdResponse" message="tns:findByIdResponse"/>
</operation>
<operation name="selectTrasparenzaMax">
<input wsam:Action="http://StandardPackage/EJBorganiBeni/selectTrasparenzaMaxRequest" message="tns:selectTrasparenzaMax"/>
<output wsam:Action="http://StandardPackage/EJBorganiBeni/selectTrasparenzaMaxResponse" message="tns:selectTrasparenzaMaxResponse"/>
</operation>
<operation name="aggiornaOranizzazione">
<input wsam:Action="http://StandardPackage/EJBorganiBeni/aggiornaOranizzazioneRequest" message="tns:aggiornaOranizzazione"/>
<output wsam:Action="http://StandardPackage/EJBorganiBeni/aggiornaOranizzazioneResponse" message="tns:aggiornaOranizzazioneResponse"/>
</operation>
<operation name="findByNumProg">
<input wsam:Action="http://StandardPackage/EJBorganiBeni/findByNumProgRequest" message="tns:findByNumProg"/>
<output wsam:Action="http://StandardPackage/EJBorganiBeni/findByNumProgResponse" message="tns:findByNumProgResponse"/>
</operation>
<operation name="findByBilancio">
<input wsam:Action="http://StandardPackage/EJBorganiBeni/findByBilancioRequest" message="tns:findByBilancio"/>
<output wsam:Action="http://StandardPackage/EJBorganiBeni/findByBilancioResponse" message="tns:findByBilancioResponse"/>
</operation>
<operation name="aggiungiOranizzazione">
<input wsam:Action="http://StandardPackage/EJBorganiBeni/aggiungiOranizzazioneRequest" message="tns:aggiungiOranizzazione"/>
<output wsam:Action="http://StandardPackage/EJBorganiBeni/aggiungiOranizzazioneResponse" message="tns:aggiungiOranizzazioneResponse"/>
</operation>
<operation name="rimuoviOranizzazione">
<input wsam:Action="http://StandardPackage/EJBorganiBeni/rimuoviOranizzazioneRequest" message="tns:rimuoviOranizzazione"/>
<output wsam:Action="http://StandardPackage/EJBorganiBeni/rimuoviOranizzazioneResponse" message="tns:rimuoviOranizzazioneResponse"/>
</operation>
</portType>
<binding name="EJBorganiBeniPortBinding" type="tns:EJBorganiBeni">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="selectAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="selectTrasparenzaMax">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aggiornaOranizzazione">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByNumProg">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByBilancio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aggiungiOranizzazione">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rimuoviOranizzazione">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EJBorganiBeniService">
<port name="EJBorganiBeniPort" binding="tns:EJBorganiBeniPortBinding">
<soap:address location="http://localhost:8080/EJBorganiBeniService/EJBorganiBeni"/>
</port>
</service>
</definitions>