Terzo anno/Programmazione distribuita/Prova 4-2-2020/ClientWeb/xml-resources/web-service-references/EJBorganiBeni/wsdl/localhost_8080/EJBorganiBeniService/EJBorganiBeni.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><xs:schema xmlns:tns="http://StandardPackage/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://StandardPackage/">

<xs:element name="aggiornaOranizzazione" type="tns:aggiornaOranizzazione"/>

<xs:element name="aggiornaOranizzazioneResponse" type="tns:aggiornaOranizzazioneResponse"/>

<xs:element name="aggiungiOranizzazione" type="tns:aggiungiOranizzazione"/>

<xs:element name="aggiungiOranizzazioneResponse" type="tns:aggiungiOranizzazioneResponse"/>

<xs:element name="findByBilancio" type="tns:findByBilancio"/>

<xs:element name="findByBilancioResponse" type="tns:findByBilancioResponse"/>

<xs:element name="findById" type="tns:findById"/>

<xs:element name="findByIdResponse" type="tns:findByIdResponse"/>

<xs:element name="findByNumProg" type="tns:findByNumProg"/>

<xs:element name="findByNumProgResponse" type="tns:findByNumProgResponse"/>

<xs:element name="rimuoviOranizzazione" type="tns:rimuoviOranizzazione"/>

<xs:element name="rimuoviOranizzazioneResponse" type="tns:rimuoviOranizzazioneResponse"/>

<xs:element name="selectAll" type="tns:selectAll"/>

<xs:element name="selectAllResponse" type="tns:selectAllResponse"/>

<xs:element name="selectTrasparenzaMax" type="tns:selectTrasparenzaMax"/>

<xs:element name="selectTrasparenzaMaxResponse" type="tns:selectTrasparenzaMaxResponse"/>

<xs:complexType name="findById">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:organizzazioneBenefica" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="organizzazioneBenefica">
<xs:sequence>
<xs:element name="bilancio" type="xs:double"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="nomeOrganizzazione" type="xs:string" minOccurs="0"/>
<xs:element name="numDonatori" type="xs:int"/>
<xs:element name="numProgetti" type="xs:int"/>
<xs:element name="numePaesi" type="xs:int"/>
<xs:element name="perTrasparenza" type="xs:int"/>
<xs:element name="sede" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByBilancio">
<xs:sequence>
<xs:element name="arg0" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByBilancioResponse">
<xs:sequence>
<xs:element name="return" type="tns:organizzazioneBenefica" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="selectAll">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="selectAllResponse">
<xs:sequence>
<xs:element name="return" type="tns:organizzazioneBenefica" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aggiungiOranizzazione">
<xs:sequence>
<xs:element name="arg0" type="tns:organizzazioneBenefica" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aggiungiOranizzazioneResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="selectTrasparenzaMax">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="selectTrasparenzaMaxResponse">
<xs:sequence>
<xs:element name="return" type="tns:organizzazioneBenefica" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByNumProg">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByNumProgResponse">
<xs:sequence>
<xs:element name="return" type="tns:organizzazioneBenefica" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aggiornaOranizzazione">
<xs:sequence>
<xs:element name="arg0" type="tns:organizzazioneBenefica" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aggiornaOranizzazioneResponse">
<xs:sequence>
<xs:element name="return" type="tns:organizzazioneBenefica" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rimuoviOranizzazione">
<xs:sequence>
<xs:element name="arg0" type="tns:organizzazioneBenefica" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rimuoviOranizzazioneResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>