Terzo anno/Programmazione distribuita/Prova 20-2-2020/SanRemoWebClient/xml-resources/web-service-references/CanzoniEJB/wsdl/localhost_8080/CanzoniEJBService/CanzoniEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://standardPackage/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://standardPackage/" name="CanzoniEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://standardPackage/" schemaLocation="http://localhost:8080/CanzoniEJBService/CanzoniEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="selectAll">
<part name="parameters" element="tns:selectAll"/>
</message>
<message name="selectAllResponse">
<part name="parameters" element="tns:selectAllResponse"/>
</message>
<message name="findById">
<part name="parameters" element="tns:findById"/>
</message>
<message name="findByIdResponse">
<part name="parameters" element="tns:findByIdResponse"/>
</message>
<message name="selectByCategory">
<part name="parameters" element="tns:selectByCategory"/>
</message>
<message name="selectByCategoryResponse">
<part name="parameters" element="tns:selectByCategoryResponse"/>
</message>
<message name="aggiungiCanzone">
<part name="parameters" element="tns:aggiungiCanzone"/>
</message>
<message name="aggiungiCanzoneResponse">
<part name="parameters" element="tns:aggiungiCanzoneResponse"/>
</message>
<message name="aggiornaCanzone">
<part name="parameters" element="tns:aggiornaCanzone"/>
</message>
<message name="aggiornaCanzoneResponse">
<part name="parameters" element="tns:aggiornaCanzoneResponse"/>
</message>
<message name="rimuoviCanzone">
<part name="parameters" element="tns:rimuoviCanzone"/>
</message>
<message name="rimuoviCanzoneResponse">
<part name="parameters" element="tns:rimuoviCanzoneResponse"/>
</message>
<message name="selectByVote">
<part name="parameters" element="tns:selectByVote"/>
</message>
<message name="selectByVoteResponse">
<part name="parameters" element="tns:selectByVoteResponse"/>
</message>
<portType name="CanzoniEJB">
<operation name="selectAll">
<input wsam:Action="http://standardPackage/CanzoniEJB/selectAllRequest" message="tns:selectAll"/>
<output wsam:Action="http://standardPackage/CanzoniEJB/selectAllResponse" message="tns:selectAllResponse"/>
</operation>
<operation name="findById">
<input wsam:Action="http://standardPackage/CanzoniEJB/findByIdRequest" message="tns:findById"/>
<output wsam:Action="http://standardPackage/CanzoniEJB/findByIdResponse" message="tns:findByIdResponse"/>
</operation>
<operation name="selectByCategory">
<input wsam:Action="http://standardPackage/CanzoniEJB/selectByCategoryRequest" message="tns:selectByCategory"/>
<output wsam:Action="http://standardPackage/CanzoniEJB/selectByCategoryResponse" message="tns:selectByCategoryResponse"/>
</operation>
<operation name="aggiungiCanzone">
<input wsam:Action="http://standardPackage/CanzoniEJB/aggiungiCanzoneRequest" message="tns:aggiungiCanzone"/>
<output wsam:Action="http://standardPackage/CanzoniEJB/aggiungiCanzoneResponse" message="tns:aggiungiCanzoneResponse"/>
</operation>
<operation name="aggiornaCanzone">
<input wsam:Action="http://standardPackage/CanzoniEJB/aggiornaCanzoneRequest" message="tns:aggiornaCanzone"/>
<output wsam:Action="http://standardPackage/CanzoniEJB/aggiornaCanzoneResponse" message="tns:aggiornaCanzoneResponse"/>
</operation>
<operation name="rimuoviCanzone">
<input wsam:Action="http://standardPackage/CanzoniEJB/rimuoviCanzoneRequest" message="tns:rimuoviCanzone"/>
<output wsam:Action="http://standardPackage/CanzoniEJB/rimuoviCanzoneResponse" message="tns:rimuoviCanzoneResponse"/>
</operation>
<operation name="selectByVote">
<input wsam:Action="http://standardPackage/CanzoniEJB/selectByVoteRequest" message="tns:selectByVote"/>
<output wsam:Action="http://standardPackage/CanzoniEJB/selectByVoteResponse" message="tns:selectByVoteResponse"/>
</operation>
</portType>
<binding name="CanzoniEJBPortBinding" type="tns:CanzoniEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="selectAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="selectByCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aggiungiCanzone">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aggiornaCanzone">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rimuoviCanzone">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="selectByVote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CanzoniEJBService">
<port name="CanzoniEJBPort" binding="tns:CanzoniEJBPortBinding">
<soap:address location="http://localhost:8080/CanzoniEJBService/CanzoniEJB"/>
</port>
</service>
</definitions>