Terzo anno/Programmazione distribuita/Prova d'esame/RUSSODANIELEWebClient/xml-resources/web-service-references/EJBCase/wsdl/localhost_8080/EJBCaseService/EJBCase.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://StandardPackage/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://StandardPackage/" name="EJBCaseService">
<types>
<xsd:schema>
<xsd:import namespace="http://StandardPackage/" schemaLocation="http://localhost:8080/EJBCaseService/EJBCase?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="removeResponse">
<part name="parameters" element="tns:removeResponse"/>
</message>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<message name="SelectById">
<part name="parameters" element="tns:SelectById"/>
</message>
<message name="SelectByIdResponse">
<part name="parameters" element="tns:SelectByIdResponse"/>
</message>
<message name="SelectByCap">
<part name="parameters" element="tns:SelectByCap"/>
</message>
<message name="SelectByCapResponse">
<part name="parameters" element="tns:SelectByCapResponse"/>
</message>
<message name="SelectByType">
<part name="parameters" element="tns:SelectByType"/>
</message>
<message name="SelectByTypeResponse">
<part name="parameters" element="tns:SelectByTypeResponse"/>
</message>
<message name="SelectByState">
<part name="parameters" element="tns:SelectByState"/>
</message>
<message name="SelectByStateResponse">
<part name="parameters" element="tns:SelectByStateResponse"/>
</message>
<message name="SelectByInfPrice">
<part name="parameters" element="tns:SelectByInfPrice"/>
</message>
<message name="SelectByInfPriceResponse">
<part name="parameters" element="tns:SelectByInfPriceResponse"/>
</message>
<message name="SelectByCapPrice">
<part name="parameters" element="tns:SelectByCapPrice"/>
</message>
<message name="SelectByCapPriceResponse">
<part name="parameters" element="tns:SelectByCapPriceResponse"/>
</message>
<portType name="EJBCase">
<operation name="add">
<input wsam:Action="http://StandardPackage/EJBCase/addRequest" message="tns:add"/>
<output wsam:Action="http://StandardPackage/EJBCase/addResponse" message="tns:addResponse"/>
</operation>
<operation name="remove">
<input wsam:Action="http://StandardPackage/EJBCase/removeRequest" message="tns:remove"/>
<output wsam:Action="http://StandardPackage/EJBCase/removeResponse" message="tns:removeResponse"/>
</operation>
<operation name="update">
<input wsam:Action="http://StandardPackage/EJBCase/updateRequest" message="tns:update"/>
<output wsam:Action="http://StandardPackage/EJBCase/updateResponse" message="tns:updateResponse"/>
</operation>
<operation name="SelectById">
<input wsam:Action="http://StandardPackage/EJBCase/SelectByIdRequest" message="tns:SelectById"/>
<output wsam:Action="http://StandardPackage/EJBCase/SelectByIdResponse" message="tns:SelectByIdResponse"/>
</operation>
<operation name="SelectByCap">
<input wsam:Action="http://StandardPackage/EJBCase/SelectByCapRequest" message="tns:SelectByCap"/>
<output wsam:Action="http://StandardPackage/EJBCase/SelectByCapResponse" message="tns:SelectByCapResponse"/>
</operation>
<operation name="SelectByType">
<input wsam:Action="http://StandardPackage/EJBCase/SelectByTypeRequest" message="tns:SelectByType"/>
<output wsam:Action="http://StandardPackage/EJBCase/SelectByTypeResponse" message="tns:SelectByTypeResponse"/>
</operation>
<operation name="SelectByState">
<input wsam:Action="http://StandardPackage/EJBCase/SelectByStateRequest" message="tns:SelectByState"/>
<output wsam:Action="http://StandardPackage/EJBCase/SelectByStateResponse" message="tns:SelectByStateResponse"/>
</operation>
<operation name="SelectByInfPrice">
<input wsam:Action="http://StandardPackage/EJBCase/SelectByInfPriceRequest" message="tns:SelectByInfPrice"/>
<output wsam:Action="http://StandardPackage/EJBCase/SelectByInfPriceResponse" message="tns:SelectByInfPriceResponse"/>
</operation>
<operation name="SelectByCapPrice">
<input wsam:Action="http://StandardPackage/EJBCase/SelectByCapPriceRequest" message="tns:SelectByCapPrice"/>
<output wsam:Action="http://StandardPackage/EJBCase/SelectByCapPriceResponse" message="tns:SelectByCapPriceResponse"/>
</operation>
</portType>
<binding name="EJBCasePortBinding" type="tns:EJBCase">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SelectById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SelectByCap">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SelectByType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SelectByState">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SelectByInfPrice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SelectByCapPrice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EJBCaseService">
<port name="EJBCasePort" binding="tns:EJBCasePortBinding">
<soap:address location="http://localhost:8080/EJBCaseService/EJBCase"/>
</port>
</service>
</definitions>